@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-green-dark disabled:bg-green-dark/60 text-sm  active:bg-green-dark text-white text-center h-10 rounded-lg shadow-md  outline-green-50 flex justify-center items-center outline-offset-2 outline-2 hover:bg-green-dark/80;
  }

  .form-container {
    @apply flex bg-white px-8 py-5 rounded-xl flex-col gap-3 w-[min(90%,350px)]  min-h-[500px] items-stretch justify-between;
  }
  .form-page {
    @apply bg-gray-light h-screen flex items-center justify-center font-roboto;
  }
  .btn-rounded {
    @apply bg-white py-4 px-8 flex justify-center items-center font-fira text-gray-dark h-3/4 rounded-full;
  }
  .box {
    @apply w-full bg-white p-2 rounded-3xl flex flex-col h-full;
  }
  .dropdown {
    @apply top-[120%] right-0 absolute bg-white p-2 shadow-md rounded-xl flex flex-col;
  }
  .btn-notif {
    @apply hover:opacity-80 active:opacity-100 text-white px-6 py-2 rounded-lg;
  }
  .form {
    @apply flex flex-col items-stretch gap-4  w-full;
  }
  .form-inputs {
    @apply flex flex-col gap-4;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #bbbbbb #ffffff00;
}

/* Chrome, Edge, and Safari */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffffff00;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 20px;
  border: 0px solid #ffffff00;
}
